:global(.c-t-panel) {
  font: var(--typography-panel-font);
  letter-spacing: var(--typography-panel-letter);
}

:global(.c-t-title) {
  font: var(--typography-title-font);
  letter-spacing: var(--typography-title-letter);
}

:global(.c-t-subheader) {
  font: var(--typography-subheader-font);
  letter-spacing: var(--typography-subheader-letter);
}

:global(.c-t-body) {
  font: var(--typography-body-font);
  letter-spacing: var(--typography-body-letter);
}

:global(.c-t-body-bold) {
  font: var(--typography-body-bold-font);
  letter-spacing: var(--typography-body-bold-letter);
}

:global(.c-t-body2) {
  font: var(--typography-body2-font);
  letter-spacing: var(--typography-body2-letter);
}

:global(.c-t-button) {
  font: var(--typography-button-font);
  letter-spacing: var(--typography-button-letter);
}

@font-face {
  font-family: 'Material-Icons';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Material Icons'),
    url('../../assets/fonts/Material-Icons/Material-Icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material-Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}