:root {
  /* ------------------------------------*\
    #SPACING
  \*------------------------------------ */
  --space-xxs: 0.75rem;
  --space-xs: 1rem;
  --space-sm: 1.25rem;
  --space: 1.5rem;
  --space-md: 2rem;
  --space-lg: 2.5rem;
  --space-xlg: 3rem;





  /* ------------------------------------*\
    #BREAKPOINTS
  \*------------------------------------ */
  --screen-xs: 576px;
  --screen-sm: 768px;
  --screen-md: 992px;
  --screen-lg: 1200px;
  --screen-xlg: 1440px;
  --screen-max-container: 1140px;
  --screen-gutter-width: 16px;





  /* ------------------------------------*\
    #FONTTYPES
  \*------------------------------------ */
  --font-family: 'Lato', sans-serif;
  --typography-panel-font: 700 48px/58px var(--font-family);
  --typography-panel-letter: 0;
  --typography-title-font: 700 36px/43px var(--font-family);
  --typography-title-letter: 0;
  --typography-subheader-font: 700 24px/29px var(--font-family);
  --typography-subheader-letter: 0;
  --typography-body-font: 400 16px/28px var(--font-family);
  --typography-body-letter: 0;
  --typography-body-bold-font: 700 16px/28px var(--font-family);
  --typography-body-bold-letter: 0;
  --typography-body2-font: 400 14px/28px var(--font-family);
  --typography-body2-letter: 0;
  --typography-button-font: 700 16px/16px var(--font-family);
  --typography-button-letter: 0;






  /* ------------------------------------*\
    #BASE-COLORS
  \*------------------------------------ */
  --white: #fff;
  --dark-gray: #30455c;
  --light-gray: #5f748b;
  --red: #de3618;
  --light-red: #ffa7a7;
  --green: #30a64a;
  --light-green: #a7f4c6;
  --yellow: #ffc641;
  --light-yellow: #ffe2a3;
  --lightest-blue: #f5f7fb;
  --light-blue: #d9e8f8;
  --link-blue: #157ffb;
  --medium-blue: #1b53ad;
  --dark-blue: #002868;
  --tech-blue: #04f7f7;
  --dark-tech-blue: #00e0e0;





  /* ------------------------------------*\
    #APLICATION-COLORS
  \*------------------------------------ */
  --default-color: var(--light-gray);
  --default-color-lighten: var(--dark-gray);
  --default-color-contrast: var(--white);
  --primary-color: var(--link-blue);
  --primary-color-lighten: var(--medium-blue);
  --primary-color-contrast: var(--white);
  --secondary-color: var(--tech-blue);
  --secondary-color-lighten: var(--dark-tech-blue);
  --secondary-color-contrast: var(--dark-blue);
  --info-color: var(--medium-blue);
  --info-color-lighten: var(--light-blue);
  --info-color-contrast: var(--dark-gray);
  --success-color: var(--green);
  --success-color-lighten: var(--light-green);
  --success-color-contrast: var(--dark-gray);
  --danger-color: var(--red);
  --danger-color-lighten: var(--light-red);
  --danger-color-contrast: var(--dark-gray);
  --warning-color: var(--yellow);
  --warning-color-lighten: var(--light-yellow);
  --warning-color-contrast: var(--dark-gray);
  --text-color: var(--dark-gray);
  --text-color-lighten: var(--light-gray);





  /* ------------------------------------*\
    #BORDER
  \*------------------------------------ */
  --border-radius: 8px;





  /* ------------------------------------*\
    #ELEVATION
  \*------------------------------------ */
  --zindex-1: 1;
  --zindex-5: 5;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-1000: 1000;
  --zindex-overlay: 10000;




  /* ------------------------------------*\

    #ANIMATION
  \*------------------------------------ */
  --transition-duration: 0.25s;
}
