.c-grid-container-fluid,
.c-grid-container {
  margin-right: auto;
  margin-left: auto;
}

.c-grid-container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.c-grid-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.c-grid-row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.c-grid-col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.c-grid-col,
.c-grid-col-1,
.c-grid-col-2,
.c-grid-col-3,
.c-grid-col-4,
.c-grid-col-5,
.c-grid-col-6,
.c-grid-col-7,
.c-grid-col-8,
.c-grid-col-9,
.c-grid-col-10,
.c-grid-col-11,
.c-grid-col-12,
.c-grid-col-offset-0,
.c-grid-col-offset-1,
.c-grid-col-offset-2,
.c-grid-col-offset-3,
.c-grid-col-offset-4,
.c-grid-col-offset-5,
.c-grid-col-offset-6,
.c-grid-col-offset-7,
.c-grid-col-offset-8,
.c-grid-col-offset-9,
.c-grid-col-offset-10,
.c-grid-col-offset-11,
.c-grid-col-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.c-grid-col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.c-grid-col-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.c-grid-col-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.c-grid-col-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.c-grid-col-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.c-grid-col-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.c-grid-col-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.c-grid-col-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.c-grid-col-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.c-grid-col-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.c-grid-col-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.c-grid-col-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.c-grid-col-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.c-grid-col-offset-0 {
  margin-left: 0;
}

.c-grid-col-offset-1 {
  margin-left: 8.33333333%;
}

.c-grid-col-offset-2 {
  margin-left: 16.66666667%;
}

.c-grid-col-offset-3 {
  margin-left: 25%;
}

.c-grid-col-offset-4 {
  margin-left: 33.33333333%;
}

.c-grid-col-offset-5 {
  margin-left: 41.66666667%;
}

.c-grid-col-offset-6 {
  margin-left: 50%;
}

.c-grid-col-offset-7 {
  margin-left: 58.33333333%;
}

.c-grid-col-offset-8 {
  margin-left: 66.66666667%;
}

.c-grid-col-offset-9 {
  margin-left: 75%;
}

.c-grid-col-offset-10 {
  margin-left: 83.33333333%;
}

.c-grid-col-offset-11 {
  margin-left: 91.66666667%;
}

.c-grid-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.c-grid-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.c-grid-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.c-grid-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c-grid-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-grid-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.c-grid-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.c-grid-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-grid-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.c-grid-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
